# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

release.sh

# 不忽略 cache
!.yarn/cache

# 但忽略零散临时文件
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
*.gz
